@font-face {
  src : url("../font/NanumSquareRoundR.ttf");
  font-family: "NanumR"
}

body{
  font-family: NanumR;
}

#container{
  height: 90%;
  width: 90%;
  margin: 20px auto;
  border: solid 1px darkgray;
}
hr{
  margin: 0 0 2px 0;
}
.pointer{
  cursor: pointer;
}




aside{
  width: 25%;
  height: 100%;
  padding-right: 30px;
  display: inline-block;
  border: solid 1px darkgray;
}
#mainImg{
  width: 100%;
  margin-top: 20px;
  border: solid 1px darkgray;
}
.sideSection{
  margin-left: 20px;
}
.mb{
  margin-bottom: 20px;
}
h3{
  display: inline-block;
  margin: 0 10px 20px 0;
  font-weight: bold;
}
.subtitle{
  margin-right: 20px;
  margin-bottom: 3px;
  font-weight: bold;
}
.skills{
  margin-top: 30px;
}
.skillImg{
  width: 23%;
  height: auto;
  border-radius: 10%;
  margin-bottom: 3px;
  border: solid 1px darkgray;
}


#main{
  width: 75%;
  height: 100%;
  display: inline-block;
  float: right;
  border: solid 1px darkgray;
}
.sector{
  height: 30%;
  padding: 0 10px;
  border: solid 1px darkgray;
  border-left: solid 2px red;
}
.lang{
  float: right;
}
.subtitle2{
  margin-right: 20px;
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 13pt;
}