<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/index.css" rel="stylesheet">
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/index.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="../image/favicon.png">
    <title>Ilpyo Yang</title>
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300"
      oncontextmenu='return false' ondragstart='return false' onselectstart='return false'>
    <div id="container">
        <aside>
            <div class="mb sideSection">
                <img src="../image/main.jpg" class="mb" id="mainImg">
            </div>
            <div class="mb sideSection" id="contactInfo">
                <h3>ILPYO YANG</h3>
                <p id="role">Java backend developer</p>
                <span class="subtitle pointer sns" id="github">GitHub</span>
                <span class="subtitle pointer sns" id="blog">Blog</span>
                <span class="subtitle pointer sns" id="youtube">Youtube</span><br>
                <p>
                    <span class="subtitle">Email</span>
                    <span class="pointer" id="emailAddress">ilpyoyang@gmail.com</span>
                </p>
            </div>
            <div class="mb sideSection skills" id="skill">
                <div class="subtitle">Main Skills</div>
                <img src="../image/java.png" class="skillImg">
                <img src="../image/spring.png" class="skillImg">
                <img src="../image/aws.png" class="skillImg">
                <img src="../image/oracle.png" class="skillImg">
            </div>
            <div class="sideSection skills" id="others">
                <div class="subtitle">Other Skills</div>
                <img src="../image/python.png" class="skillImg">
                <img src="../image/django.png" class="skillImg">
                <img src="../image/js.png" class="skillImg">
                <img src="../image/nodejs.png" class="skillImg">
                <img src="../image/github.png" class="skillImg">
                <img src="../image/mysql.png" class="skillImg">
                <img src="../image/flutter.png" class="skillImg">
                <img src="../image/adobexd.png" class="skillImg">
            </div>
        </aside>
        <div id="main">
            <div class="mb" id="language">
                <span class="subtitle lang pointer" id="korean">Korean</span>
                <span class="subtitle lang pointer" id="english">English</span>
            </div>
            <div class="sector mb" id="introduce">
                <div>
                    <p>
                        <span class="subtitle2">"나한테 필요한 일정을 정리할 수 있는 프로그램을 만들 수는 없을까?"</span><br>
                        <span class="subtitle2">"간단한 스쿼트 어플이 있었으면 좋겠다."</span>
                    </p>
                    <p>이런 생각들과 호기심은 제가 처음 Codecademy에서 Python을 접하는 계기가 되었습니다. 축산식품공학과를 전공하고 무역업 근무이력이 있던 제게 진로 변경은 쉽지 않은 결정이었습니다. 하지만 현직자 지인들에게 조언을 구하고, 유투브를 보면서 확고하게 웹개발자라는 새로운 꿈을 꾸게 되었습니다.</p>
                    <p>어느덧 버그를 발견하고 구글링하거나 팀원들과 해결하고 성취감을 느끼는 제 모습을 보면서, 이 결정이 틀리지 않았다고 확신합니다. 개인적 필요와 호기심으로 시작했지만, 이제 더 많은 사용자들에게 도움이 되는 웹서비스를 개발하겠습니다.</p>
                </div>
            </div>
            <div class="sector mb" id="portfolio">
                <span class="subtitle2">Portfolio</span>
                <div>
                    <!--<img src="../image/left.png" class="arrow">-->
                    <img src="../image/redtimer.png" class="portfolioImg">
                    <img src="../image/ladies and gents.png" class="portfolioImg">
                    <img src="../image/opistachio.png" class="portfolioImg">
                    <img src="../image/ladies and gents.png" class="portfolioImg">
                    <!--<img src="../image/right.png" class="arrow">-->
                </div>
            </div>
            <div class="sector" id="education">
                <div class="subtitle2">IT Study
                    <span class="viewStyle">Tile View</span>
                    <span class="viewStyle">List View</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>