<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/index.css" rel="stylesheet">
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/index.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="../image/favicon.png">
    <title>Ilpyo Yang</title>
</head>
<body>
    <div id="container">
        <aside>
            <img src="../image/main.png" class="mb" id="mainImg">
            <div class="mb sideSection" id="contactInfo">
                <h3>ILPYO YANG</h3>
                <span class="subtitle" id="github">GitHub</span>
                <span class="subtitle" id="blog">Blog</span>
                <span class="subtitle" id="youtube">Youtube</span><br>
                <p>
                    <span class="subtitle">Email</span>
                    <span id="emailAddress">ilpyoyang@gmail.com</span>
                </p>
            </div>
            <div class="mb sideSection" id="skill">
                <div class="subtitle">Skills</div>
                <img src="../image/main.png" class="skillImg">
                <img src="../image/main.png" class="skillImg">
                <img src="../image/main.png" class="skillImg">
                <img src="../image/main.png" class="skillImg">
            </div>
            <div class="sideSection" id="others">
                <div class="subtitle">Experienced Skills</div>
                <img src="../image/main.png" class="skillImg">
                <img src="../image/main.png" class="skillImg">
                <img src="../image/main.png" class="skillImg">
                <img src="../image/main.png" class="skillImg">
                <img src="../image/main.png" class="skillImg">
                <img src="../image/main.png" class="skillImg">
                <img src="../image/main.png" class="skillImg">
                <img src="../image/main.png" class="skillImg">
            </div>
        </aside>
        <div id="main">
            <div class="mb" id="language">
                <span class="subtitle lang">Korean</span>
                <span class="subtitle lang">English</span>
            </div>
            <div class="sector mb" id="introduce">
                <div class="subtitle">Introduce</div>
            </div>
            <div class="sector mb" id="portfolio">
                <div class="subtitle">Portfolio</div>
            </div>
            <div class="sector" id="education">
                <div class="subtitle">IT Study
                    <span class="viewStyle">Tile View</span>
                    <span class="viewStyle">List View</span>
                </div>
            </div>
        </div>
        <footer>

        </footer>
    </div>
</body>
</html>